[info]
user = olga.vorokh@yandex.by

[ocean]
size_ocean = 50
predator_hungry_interval = 30
predator_reproduction_interval = 20
predator_duration_life = 25
victim_reproduction_interval = 17
victim_duration_life = 54

[random]
random_ocean = 1
random_seed = 1500
probability_predator = 0.02
probability_barrier = 0.08
probability_victim = 0.50
probability_empty = 0.40

[life]
count_iteration = 10000
